.draggable, .Fruits, .Legumes  {
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    padding: 3px 5px;
    text-align: center;
    float: right;
    margin: 0;
    font-family: monospace;
    color: black;
  }

a {
  color: black;
}

.box {
    display: none;
    position: relative;
  }

a:hover + .box,
.box:hover {
    display: block;
    position: relative;
}

iframe {
  width: 300%;
  height: 300%;
  display:inline-block;
  position: relative;
}
